div.item.active {
  background-color: #CCC;
}
.red{
  color:red;
}
.green{
  color:green;
}
ul#points {
  list-style-type: none; 
}
ul#points li{
  display:inline;
  margin: 0px;
  padding:10px;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 1px #000;
  border-radius: 2px;
}
fieldset{
 border:0;
}
.button {
  padding:10px;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 1px #000;
  border-radius: 2px;
}
